--- drivers/input/touchscreen/Kconfig
+++ drivers/input/touchscreen/Kconfig
@@ -1139,6 +1139,11 @@ config TOUCHSCREEN_TOUCHX
 config WAKE_GESTURES
         bool "Wake Gestures"
 
+config STATE_NOTIFIER
+        bool "State Notifier"
+	depends on TOUCHSCREEN_ATMEL_MXT_MMI
+	default y
+
 source "drivers/input/touchscreen/gt9xx/Kconfig"
 
 endif
