--- drivers/misc/Kconfig
+++ drivers/misc/Kconfig
@@ -753,19 +753,6 @@ config SEC_TORCH_FLASH
 	help
 	  This driver provides torch flash function.	  
 
-config TIMA_LOG
-	tristate "Support for dumping TIMA log"
-	default m
-	help
-	  This option enables support for dumping TIMA log
-
-config TIMA_TEST
-	tristate "Tima Test Suite"
-	default n
-	help
-	  This option enables kernel component of tima test suite
-
-	  
 source "drivers/misc/c2port/Kconfig"
 source "drivers/misc/eeprom/Kconfig"
 source "drivers/misc/cb710/Kconfig"
